@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ffffff;
  --black: #1d1d1b;
  --grey1: #f6f6f6;
  --grey2: #f1f1f1;
  --grey3: #dedede;
  --grey4: #969696;
  --grey5: #636363;
  --grey6: #2a2a2a;
  --primary-blue: #0d3b66;
  --primary-beige: #faf0ca;
  --primary-yellow: #f4d35e;
  --primary-light-orange: #ee964b;
  --primary-dark-orange: #f95738;
}

a {
  text-decoration: none;
}

.container__section {
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container__section {
    max-width: 1500px;
  }
}

:root {
  --poppins-font-family: Poppins, sans-serif;
  --poppins-font-style-normal: normal;
  --poppins-font-style-italic: italic;
  --poppins-font-weight-thin: 100;
  --poppins-font-weight-extralight: 200;
  --poppins-font-weight-light: 300;
  --poppins-font-weight-regular: 400;
  --poppins-font-weight-medium: 500;
  --poppins-font-weight-semibold: 600;
  --poppins-font-weight-bold: 700;
  --poppins-font-weight-extrabold: 800;
  --poppins-font-weight-black: 900;
}

.poppins-thin {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-thin);
  font-style: var(--poppins-font-style-normal);
}

.poppins-extralight {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-extralight);
  font-style: var(--poppins-font-style-normal);
}

.poppins-light {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-light);
  font-style: var(--poppins-font-style-normal);
}

.poppins-regular {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-regular);
  font-style: var(--poppins-font-style-normal);
}

.poppins-medium {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
}

.poppins-semibold {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-semibold);
  font-style: var(--poppins-font-style-normal);
}

.poppins-bold {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-bold);
  font-style: var(--poppins-font-style-normal);
}

.poppins-extrabold {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-extrabold);
  font-style: var(--poppins-font-style-normal);
}

.poppins-black {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-black);
  font-style: var(--poppins-font-style-normal);
}

.poppins-thin-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-thin);
  font-style: var(--poppins-font-style-italic);
}

.poppins-extralight-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-extralight);
  font-style: var(--poppins-font-style-italic);
}

.poppins-light-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-light);
  font-style: var(--poppins-font-style-italic);
}

.poppins-regular-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-regular);
  font-style: var(--poppins-font-style-italic);
}

.poppins-medium-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-italic);
}

.poppins-semibold-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-semibold);
  font-style: var(--poppins-font-style-italic);
}

.poppins-bold-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-bold);
  font-style: var(--poppins-font-style-italic);
}

.poppins-extrabold-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-extrabold);
  font-style: var(--poppins-font-style-italic);
}

.poppins-black-italic {
  font-family: var(--poppins-font-family);
  font-weight: var(--poppins-font-weight-black);
  font-style: var(--poppins-font-style-italic);
}

.primaryTitle {
  font-family: var(--fontPixel);
  font-size: 22px;
  font-weight: var(--fontSemiBold);
  line-height: 24px;
  letter-spacing: 0;
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .primaryTitle {
    font-size: 26px;
    line-height: 30px;
  }
}

/**
* Characters to escape from SVGs
* Source: https://github.com/Threespot/frontline-sass/blob/master/src/variables/_escape-chars.scss
*/
/**
 * Helper to get URL-escaped inline SVG code
 */
:root {
  --svg-arrow-more: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill=%27none%27%20viewBox=%270%200%2021%2012%27%3E%3Cpath%20fill=%27%231D1D1B%27%20fill-rule=%27evenodd%27%20d=%27M14.778%200L13.68%201.058l4.34%204.192H0v1.5h18.021l-4.34%204.193L14.778%2012%2021%206l-6.222-6z%27%20clip-rule=%27evenodd%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E ");
  --svg-arrow-back: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill=%27none%27%20viewBox=%270%200%2021%2012%27%3E%3Cpath%20fill=%27%231D1D1B%27%20fill-rule=%27evenodd%27%20d=%27M0,6l6.2,6l1.1-1.1L3,6.8h18V5.2H3l4.3-4.2L6.2,0L0,6z%27%20clip-rule=%27evenodd%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23FFFFFF%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-pink: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23ea568a%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-magenta-1: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23e5205a%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-magenta-2: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23e51c40%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-red: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23cf2035%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-mustard: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23f19725%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-dijon: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23de6d28%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-cyan-1: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%2316b5c0%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-cyan-2: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%23139d9f%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-previous-cobalt: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M22%204L10%2016L22%2028%27%20stroke=%27%232f79be%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23FFFFFF%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-pink: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23ea568a%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-magenta-1: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23e5205a%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-magenta-2: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23e51c40%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-red: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23cf2035%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-mustard: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23f19725%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-dijon: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23de6d28%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-cyan-1: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%2316b5c0%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-cyan-2: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%23139d9f%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
  --svg-arrow-next-cobalt: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2032%2032%27%20fill=%27none%27%3E%3Cpath%20d=%27M10%204L22%2016L10%2028%27%20stroke=%27%232f79be%27%20stroke-width=%272.5%27%20stroke-linecap=%27round%27%20stroke-linejoin=%27round%27%2F%3E%3C%2Fsvg%3E ");
}

@keyframes moveForwardAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveForwardAndBackInvert {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes animationSurround1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes animationSurround2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes animationSurround3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes animationSurround4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.container__nav {
  max-width: 1500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 20px 0;
}
.container__nav--logo img {
  max-width: 90px;
  width: 100%;
}
.container__nav .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  z-index: 10;
}
@media (min-width: 768px) {
  .container__nav .hamburger {
    display: none;
  }
}
.container__nav .hamburger .line1,
.container__nav .hamburger .line2,
.container__nav .hamburger .line3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container__nav .hamburger .line1 span,
.container__nav .hamburger .line2 span,
.container__nav .hamburger .line3 span {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.container__nav .hamburger .line1 span:nth-child(1),
.container__nav .hamburger .line2 span:nth-child(1),
.container__nav .hamburger .line3 span:nth-child(1) {
  border-radius: 2rem 0 0 2rem;
}
.container__nav .hamburger .line1 span:nth-child(2),
.container__nav .hamburger .line2 span:nth-child(2),
.container__nav .hamburger .line3 span:nth-child(2) {
  border-radius: 0 2rem 2rem 0;
}
.container__nav .hamburger.active .line1 span:nth-child(1) {
  transform: rotate(45deg) translateX(5.5px) translateY(5.5px);
  transform-origin: right;
}
.container__nav .hamburger.active .line1 span:nth-child(2) {
  transform: rotate(-45deg) translateY(5.5px) translateX(-5.5px);
}
.container__nav .hamburger.active .line2 span:nth-child(1) {
  transform: translateX(-20px);
  opacity: 0;
}
.container__nav .hamburger.active .line2 span:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}
.container__nav .hamburger.active .line3 span:nth-child(1) {
  transform: rotate(-45deg) translateX(5.5px) translateY(-5.5px);
  transform-origin: right;
}
.container__nav .hamburger.active .line3 span:nth-child(2) {
  transform: rotate(45deg) translateX(-5.5px) translateY(-5.5px);
}
.container__nav--menu {
  display: none;
  z-index: 10;
}
.container__nav--menu.open {
  display: block;
}
.container__nav--submenu {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.container__nav--submenu .list__menu {
  display: none;
  justify-content: center;
  column-gap: 4%;
  list-style: none;
  margin-block-start: 0;
  margin: 0;
  padding-inline-start: 0;
}
@media (min-width: 768px) {
  .container__nav--submenu .list__menu {
    display: flex;
  }
}
.container__nav--submenu .list__menu li a {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  display: flex;
  padding: 5px 8px;
  border: 1px solid var(--primary-yellow);
  border-radius: 5px;
  font-family: var(--poppins-font-family);
  font-size: 14px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--primary-yellow);
  text-transform: uppercase;
}

.container__history {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .container__history {
    flex-direction: row;
  }
}
.container__history--video {
  width: 100%;
  height: 350px;
}
@media (min-width: 992px) {
  .container__history--video {
    width: 40%;
    height: auto;
    padding: 20px;
  }
}
.container__history--video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 992px) {
  .container__history--video video {
    object-position: center;
    max-height: 560px;
  }
}
.container__history--text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
@media (min-width: 992px) {
  .container__history--text {
    width: 60%;
  }
}
.container__history--text h1 {
  font-family: var(--poppins-font-family);
  font-size: 24px;
  font-weight: var(--poppins-font-weight-bold);
  font-style: var(--poppins-font-style-normal);
  color: var(--primary-blue);
  text-align: center;
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .container__history--text h1 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .container__history--text h1 {
    font-size: 48px;
  }
}
.container__history--text p {
  font-family: var(--poppins-font-family);
  font-size: 12px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--grey4);
  margin: 5px;
}
.container__history--text ol {
  padding-inline-start: 20px;
  margin-top: 1rem;
}
.container__history--text ol li {
  font-family: var(--poppins-font-family);
  font-size: 12px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--grey4);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.container__history--text ol li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  left: -20px;
  top: 0;
}

.container__history {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .container__history {
    flex-direction: row;
  }
}
.container__history--video {
  width: 100%;
  height: 350px;
}
@media (min-width: 992px) {
  .container__history--video {
    width: 40%;
    height: auto;
    padding: 20px;
  }
}
.container__history--video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 992px) {
  .container__history--video video {
    object-position: center;
    max-height: 560px;
  }
}
.container__history--text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
@media (min-width: 992px) {
  .container__history--text {
    width: 60%;
  }
}
.container__history--text h1 {
  font-family: var(--poppins-font-family);
  font-size: 24px;
  font-weight: var(--poppins-font-weight-bold);
  font-style: var(--poppins-font-style-normal);
  color: var(--primary-blue);
  text-align: center;
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .container__history--text h1 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .container__history--text h1 {
    font-size: 48px;
  }
}
.container__history--text p {
  font-family: var(--poppins-font-family);
  font-size: 12px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--grey4);
  margin: 5px;
}
.container__history--text ol {
  padding-inline-start: 20px;
  margin-top: 1rem;
}
.container__history--text ol li {
  font-family: var(--poppins-font-family);
  font-size: 12px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--grey4);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.container__history--text ol li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  left: -20px;
  top: 0;
}

.container__works h2 {
  font-family: var(--poppins-font-family);
  font-size: 16px;
  font-weight: var(--poppins-font-weight-bold);
  font-style: var(--poppins-font-style-normal);
  color: var(--primary-blue);
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .container__works h2 {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .container__works h2 {
    font-size: 36px;
  }
}
.container__works--list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.container__works--item-title h3 {
  font-family: var(--poppins-font-family);
  font-size: 14px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--grey6);
}
.container__works--item-title p {
  font-family: var(--poppins-font-family);
  font-size: 12px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--primary-dark-orange);
}
.container__works--item-info {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .container__works--item-info {
    flex-direction: row;
    column-gap: 20px;
  }
}
.container__works--item-info p {
  width: 100%;
  font-family: var(--poppins-font-family);
  font-size: 14px;
  font-weight: var(--poppins-font-weight-medium);
  font-style: var(--poppins-font-style-normal);
  color: var(--grey4);
}
@media (min-width: 992px) {
  .container__works--item-info p {
    width: 70%;
  }
}
.container__works--item-info .works--image {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .container__works--item-info .works--image {
    width: 30%;
  }
}
.container__works--item-info .works--image img {
  width: 100%;
}
@media (min-width: 992px) {
  .container__works--item-info .works--image img {
    width: 30%;
  }
}

.btn__normal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  width: 100%;
  padding: 10px 18.5px;
  border-radius: 0;
  font-family: var(--fontArial);
  font-size: 16px;
  font-weight: var(--fontMedium);
  line-height: 1em;
  color: var(--grey6);
  text-transform: uppercase;
  text-decoration: none;
}
.btn__normal:hover {
  color: var(--white);
}
.btn__normal--aprove {
  position: relative;
  overflow: hidden;
  color: var(--deep-mint);
  background-color: transparent;
  border: 2px solid var(--deep-mint);
  transition: 0.08s ease-in;
  z-index: 1;
}
.btn__normal--aprove:before {
  position: absolute;
  content: "";
  background-color: var(--deep-mint);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  transition: top 0.09s ease-in;
  z-index: -1;
}
.btn__normal--aprove:hover {
  color: var(--white);
}
.btn__normal--aprove:hover:before {
  top: 0;
}
.btn__normal--filter {
  color: var(--black);
  border: 2px solid var(--mint);
}
.btn__normal--filter:hover {
  color: var(--white);
  background-color: var(--mint);
}
.btn__normal--cv {
  position: relative;
  color: var(--light-cyan);
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}
.btn__normal--cv:hover {
  color: var(--white);
  background: var(--light-cyan);
  box-shadow: 0 0 5px var(--light-cyan), 0 0 25px var(--light-cyan), 0 0 50px var(--light-cyan), 0 0 100px var(--light-cyan);
}
.btn__normal--cv span {
  position: absolute;
  display: block;
}
.btn__normal--cv span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--light-cyan));
  animation: animationSurround1 1s linear infinite;
}
.btn__normal--cv span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--light-cyan));
  animation: animationSurround2 1s linear infinite;
  animation-delay: 0.25s;
}
.btn__normal--cv span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--light-cyan));
  animation: animationSurround3 1s linear infinite;
  animation-delay: 0.5s;
}
.btn__normal--cv span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--light-cyan));
  animation: animationSurround4 1s linear infinite;
  animation-delay: 0.75s;
}
.btn__translate--Next--pink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-pink);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-pink);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--pink:before {
  content: "";
}
.btn__translate--Next--pink:after {
  content: var(--svg-arrow-next-pink);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--pink:hover {
  color: var(--white);
  border: 1px solid var(--pixel-pink);
  background-color: var(--pixel-pink);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-pink);
}
.btn__translate--Next--pink:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--magenta-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-magenta-1);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-magenta-1);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--magenta-1:before {
  content: "";
}
.btn__translate--Next--magenta-1:after {
  content: var(--svg-arrow-next-magenta-1);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--magenta-1:hover {
  color: var(--white);
  border: 1px solid var(--pixel-magenta-1);
  background-color: var(--pixel-magenta-1);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-magenta-1);
}
.btn__translate--Next--magenta-1:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--magenta-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-magenta-2);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-magenta-2);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--magenta-2:before {
  content: "";
}
.btn__translate--Next--magenta-2:after {
  content: var(--svg-arrow-next-magenta-2);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--magenta-2:hover {
  color: var(--white);
  border: 1px solid var(--pixel-magenta-2);
  background-color: var(--pixel-magenta-2);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-magenta-2);
}
.btn__translate--Next--magenta-2:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-red);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-red);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--red:before {
  content: "";
}
.btn__translate--Next--red:after {
  content: var(--svg-arrow-next-red);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--red:hover {
  color: var(--white);
  border: 1px solid var(--pixel-red);
  background-color: var(--pixel-red);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-red);
}
.btn__translate--Next--red:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--mustard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-mustard);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-mustard);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--mustard:before {
  content: "";
}
.btn__translate--Next--mustard:after {
  content: var(--svg-arrow-next-mustard);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--mustard:hover {
  color: var(--white);
  border: 1px solid var(--pixel-mustard);
  background-color: var(--pixel-mustard);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-mustard);
}
.btn__translate--Next--mustard:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--dijon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-dijon);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-dijon);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--dijon:before {
  content: "";
}
.btn__translate--Next--dijon:after {
  content: var(--svg-arrow-next-dijon);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--dijon:hover {
  color: var(--white);
  border: 1px solid var(--pixel-dijon);
  background-color: var(--pixel-dijon);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-dijon);
}
.btn__translate--Next--dijon:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--cyan-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-cyan-1);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-cyan-1);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--cyan-1:before {
  content: "";
}
.btn__translate--Next--cyan-1:after {
  content: var(--svg-arrow-next-cyan-1);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--cyan-1:hover {
  color: var(--white);
  border: 1px solid var(--pixel-cyan-1);
  background-color: var(--pixel-cyan-1);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-cyan-1);
}
.btn__translate--Next--cyan-1:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--cyan-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-cyan-2);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-cyan-2);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--cyan-2:before {
  content: "";
}
.btn__translate--Next--cyan-2:after {
  content: var(--svg-arrow-next-cyan-2);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--cyan-2:hover {
  color: var(--white);
  border: 1px solid var(--pixel-cyan-2);
  background-color: var(--pixel-cyan-2);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-cyan-2);
}
.btn__translate--Next--cyan-2:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Next--cobalt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-cobalt);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-cobalt);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Next--cobalt:before {
  content: "";
}
.btn__translate--Next--cobalt:after {
  content: var(--svg-arrow-next-cobalt);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-left: 5px;
}
.btn__translate--Next--cobalt:hover {
  color: var(--white);
  border: 1px solid var(--pixel-cobalt);
  background-color: var(--pixel-cobalt);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-cobalt);
}
.btn__translate--Next--cobalt:hover:after {
  content: var(--svg-arrow-next);
  animation: moveForwardAndBack 2s ease infinite;
}
.btn__translate--Previous--pink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-pink);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-pink);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--pink:before {
  content: var(--svg-arrow-previous-pink);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--pink:after {
  content: "";
}
.btn__translate--Previous--pink:hover {
  color: var(--white);
  border: 1px solid var(--pixel-pink);
  background-color: var(--pixel-pink);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-pink);
}
.btn__translate--Previous--pink:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--magenta-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-magenta-1);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-magenta-1);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--magenta-1:before {
  content: var(--svg-arrow-previous-magenta-1);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--magenta-1:after {
  content: "";
}
.btn__translate--Previous--magenta-1:hover {
  color: var(--white);
  border: 1px solid var(--pixel-magenta-1);
  background-color: var(--pixel-magenta-1);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-magenta-1);
}
.btn__translate--Previous--magenta-1:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--magenta-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-magenta-2);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-magenta-2);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--magenta-2:before {
  content: var(--svg-arrow-previous-magenta-2);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--magenta-2:after {
  content: "";
}
.btn__translate--Previous--magenta-2:hover {
  color: var(--white);
  border: 1px solid var(--pixel-magenta-2);
  background-color: var(--pixel-magenta-2);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-magenta-2);
}
.btn__translate--Previous--magenta-2:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-red);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-red);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--red:before {
  content: var(--svg-arrow-previous-red);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--red:after {
  content: "";
}
.btn__translate--Previous--red:hover {
  color: var(--white);
  border: 1px solid var(--pixel-red);
  background-color: var(--pixel-red);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-red);
}
.btn__translate--Previous--red:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--mustard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-mustard);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-mustard);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--mustard:before {
  content: var(--svg-arrow-previous-mustard);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--mustard:after {
  content: "";
}
.btn__translate--Previous--mustard:hover {
  color: var(--white);
  border: 1px solid var(--pixel-mustard);
  background-color: var(--pixel-mustard);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-mustard);
}
.btn__translate--Previous--mustard:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--dijon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-dijon);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-dijon);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--dijon:before {
  content: var(--svg-arrow-previous-dijon);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--dijon:after {
  content: "";
}
.btn__translate--Previous--dijon:hover {
  color: var(--white);
  border: 1px solid var(--pixel-dijon);
  background-color: var(--pixel-dijon);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-dijon);
}
.btn__translate--Previous--dijon:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--cyan-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-cyan-1);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-cyan-1);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--cyan-1:before {
  content: var(--svg-arrow-previous-cyan-1);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--cyan-1:after {
  content: "";
}
.btn__translate--Previous--cyan-1:hover {
  color: var(--white);
  border: 1px solid var(--pixel-cyan-1);
  background-color: var(--pixel-cyan-1);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-cyan-1);
}
.btn__translate--Previous--cyan-1:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--cyan-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-cyan-2);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-cyan-2);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--cyan-2:before {
  content: var(--svg-arrow-previous-cyan-2);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--cyan-2:after {
  content: "";
}
.btn__translate--Previous--cyan-2:hover {
  color: var(--white);
  border: 1px solid var(--pixel-cyan-2);
  background-color: var(--pixel-cyan-2);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-cyan-2);
}
.btn__translate--Previous--cyan-2:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}
.btn__translate--Previous--cobalt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 18.5px;
  border: 1px solid var(--pixel-cobalt);
  border-radius: 16px;
  background-color: rgba(190, 190, 190, 0.6);
  font-family: var(--fontPixel);
  font-weight: var(--fontRegular);
  font-size: 16px;
  line-height: 1em;
  color: var(--pixel-cobalt);
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}
.btn__translate--Previous--cobalt:before {
  content: var(--svg-arrow-previous-cobalt);
  display: inline-block;
  width: 17px;
  margin-top: 4px;
  margin-right: 5px;
}
.btn__translate--Previous--cobalt:after {
  content: "";
}
.btn__translate--Previous--cobalt:hover {
  color: var(--white);
  border: 1px solid var(--pixel-cobalt);
  background-color: var(--pixel-cobalt);
  box-shadow: 0px 0px 5px 0.5px var(--pixel-cobalt);
}
.btn__translate--Previous--cobalt:hover:before {
  content: var(--svg-arrow-previous);
  animation: moveForwardAndBackInvert 2s ease infinite;
}

.linkMore {
  display: flex;
  width: fit-content;
  font-family: var(--fontPixel);
  font-weight: var(--fontMedium);
  font-size: 14px;
  line-height: 1em;
  color: var(--black);
  text-decoration: none;
}
.linkMore:before {
  content: "";
}
.linkMore:after {
  content: var(--svg-arrow-more);
  display: inline-block;
  width: 21px;
  margin-top: 2.5px;
  margin-left: 5px;
}
.linkMore:hover:after {
  animation: moveForwardAndBack 2s ease infinite;
}

.linkBack {
  display: flex;
  width: fit-content;
  font-family: var(--fontPixel);
  font-weight: var(--fontMedium);
  font-size: 14px;
  line-height: 1em;
  color: var(--black);
  text-decoration: none;
}
.linkBack:before {
  content: var(--svg-arrow-back);
  display: inline-block;
  width: 21px;
  margin-top: 2.5px;
  margin-right: 5px;
}
.linkBack:after {
  content: "";
}
.linkBack:hover:before {
  animation: moveForwardAndBackInvert 2s ease infinite;
}

.dot-group {
  display: flex;
  justify-content: center;
  height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dot-group .carousel__dot {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
}
.dot-group .carousel__dot > span {
  position: absolute;
  top: 5px;
}
.dot-group .carousel__dot:not(:first-child):not(:last-child) {
  justify-content: center;
}
.dot-group .carousel__dot:first-child {
  justify-content: flex-start;
}
.dot-group .carousel__dot:last-child {
  justify-content: flex-end;
}
.dot-group .carousel__dot:after {
  display: block;
  content: " ";
  position: relative;
  width: 50px;
  height: 1px;
  transition: height 3ms ease;
  background: var(--grey6);
}
.dot-group .carousel__dot--selected {
  background: transparent;
}
.dot-group .carousel__dot--selected:after {
  height: 2px;
  background: var(--mint);
  transition: height 3ms ease;
}
.dot-group .carousel__dot--previous {
  background: transparent;
}
.dot-group .carousel__dot--previous:after {
  height: 2px;
  background: var(--mint);
}
.dot-group .carousel__dot-number--previous {
  color: var(--mint);
}

.container__artists--card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 700px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
}
@media (min-width: 768px) {
  .container__artists--card {
    margin: 20px;
    padding: 20px;
  }
}
.container__artists--card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.container__artists--card h3 {
  margin-top: 20px;
  font-size: 24px;
  color: var(--primary-light-orange);
}
.container__artists--card p {
  margin-top: 10px;
  font-size: 16px;
  color: var(--grey5);
  text-align: justify;
}

/*# sourceMappingURL=styles.css.map */
